{% extends '\Users\jwalt\Desktop\v2\Rate-My-Professor\templates\main.html' %}


{% load static %}


{% block content %}

    <div class="container" style="margin-top: 50px ">
        <div class="row">
            <div class="col">
                <h1 class = "text-center"> All Professors </h1>
            </div>
        </div>
        <div class="row my-2 mx-5">
            <div class="col mx-5 p-5">
                <form action="{% url 'search' %}" method="GET">
                    {% csrf_token %}
                    <input id = "bubble" class="form-control form-control-lg"  type="text"  placeholder="Search" name="searchbar">
                </form>
            </div>

             </div>



    </div>







    {% for professor in professors %}
        <div class="container p-5">
            <div class="row shadow-lg rounded mb-3 pt-3 mx-5 bg-secondary p-5">
                <div class="col-9">
                    <h2> <a href="{% url 'professorview' professor.id %}">{{ professor.name }}</a> </h2>
                </div>
                <div class="col-3">
                    <h5 class="text-light"> {{ professor.rating }} <span style="color:#fbec5d;">
                        {% if professor.rating < 2 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                        {% elif professor.rating < 3 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                        {% elif professor.rating < 4 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                        {% elif professor.rating < 5 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star" style="color:white"></i>
                        {% elif professor.rating == 5 %}
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        {% endif %}
                    </span></h5>

                </div>

                <div class="row" style="margin-top: 15px">
                    <h5 class = "text-dark"> <u> {{ professor.department }} </u>  </h5>
                </div>

            </div>




        </div>

    {% endfor %}

{% endblock %}