{% extends 'main.html' %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="col">
            <h1 class = "text-center my-5 p-5"> Departments</h1>
        </div>
    </div>
    </div>



    <div class="container">

    <div class="row d-flex justify-content-center">
        {% for subject in subjects %}
        <div class="col-lg-3 m-4 p-5 rounded shadow-lg bg-secondary">
            <p style="font-size: 28px"> <a href="{% url 'departmentpr' subject.id %}">{{ subject.subject }}</a> </p>
        </div>
        {% endfor %}
    </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col">
                {% for subject in subjects %}
                <p> <a href="{% url 'departmentpr' subject.id %}">{{ subject.subject }}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}